.masthead {

      position: relative;
      height: 100vh;

.owl-carousel {

.item {

      margin-top: 0;
      padding: 15rem 0;
      -ms-touch-action: auto;
      touch-action: auto;
      z-index: 0;
      height: 100vh;

  img {
      background-attachment: scroll;
      background-position: top left; 
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      z-index: -1;
      width: 100%;
      
}
  h1 {
    font-size: 2.2rem;
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
    color: $white;
    -webkit-background-clip: text;
  }
 p {
    max-width: 20rem;
    font-size: 1rem;
  }
  @media(min-width: 768px) {
    h1 {
      font-size: 4rem;
      line-height: 4rem;
    }
  }
  @media(min-width: 992px) {
  
    padding: 0;
    margin-top: 80px;

    h1 {
      font-size: 3.8rem;
      line-height: 3.8rem;
      letter-spacing: 0.2rem;
    }
    p {
      max-width: 40rem;
      font-size: 1.25rem;
    }
  }
}
.owl-nav {
      position: absolute;
      bottom: 240px;
      left: 47%;
      z-index: 100;
      width: 100px;
}
.owl-dots {
      position: absolute;
      z-index: 100;
      bottom: 210px;
      left: 48%;
}
}
}